body{
    background-color: bisque;
}
#ip{
    /* width: 300px; */
    /* width: 75%; */
    height: 400px;
    margin: 0px auto;
    display: block;
}

.Galeria{
    width: 200px;
    height: 200px;
    margin: 0 5px;
    object-fit: cover;
}